body {
  overflow:hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.header__wrapper {
  height: 100vh;
}

.main-conteiner {
  display: block;
  padding-top: 13%;
}
.main-conteiner__logo {
  width: 126px;
  height: 121px;
  margin: 0 10px;
}
.main-conteiner h1 {
  display: flex;
  flex-direction: column;
}
.main-conteiner h1 small:nth-child(1) {
  display: block;
  font-size: 36px;
}
.main-conteiner__navigation-services ul {
  display: block;
}

@media (min-width: 768px) {
  .main-conteiner__logo {
    width: 233px;
    height: 212px;
    margin: 0 10px;
  }
  .main-conteiner h1 {
    align-items: center;
  }
  .main-conteiner h1 small {
    font-size: 18px;
  }
  .main-conteiner h1 small:nth-child(1) {
    font-size: 48px;
  }
  .main-conteiner__navigation-services li:nth-child(3)::after {
    top: 75px;
  }
  .main-conteiner__navigation-services a {
    font-size: 26px;
  }
  .main-conteiner__navigation-services span {
    display: block;
    font-size: 18px;
  }

  .header__navigation {
    position: absolute;
    top: 3%;
    width: 100%;
  }
  .header__navigation ul {
    max-width: 100%;
    justify-content: space-around;
  }
  .header__navigation a {
    border: none;
    font-size: 18px;
  }
}