$screen-table: 810px;
$screen-desktop: 1024px;

$font-family-global: "Roboto Condensed", Arial, sans-serif;

// $links-color--default: #000;
// $links-color--hover: #fc557c;
// $links-color--active: #fc557c;
$links-color-text--default: #fff;
$links-color-text--hover: #4D4F58;

$bg-color-grey: #4D4F58;
$bg-color-light-gray: #ADADAD;
$bg-color-white-gray: #E8E8E8;
$bg-color-turquoise: #74C4CF;
$bg-color-white: #fff;
$bg-color-main: hsla(230, 7%,32%,0.8);
$bg-color-main-company: hsla(0, 0,77,0.17);
$bg-color-item-five: hsla(214,21%,34%,0.5);
$bg-color-item-eight: hsla(229,7%,32%,0.5);
$bg-color-block-turquoise: hsla(187,49%,63%,0.8);
$bg-color-item-white: hsla(187,100%,100%,0.5);
$bg-color-item-white-test: hsla(187,100%,100%,0.8);
// $bg-color-gradient: linear-gradient(200deg, #ff2f96, #ff8f5a);

$text-color-grey: #445469;
$text-color-dark-grey: #737572;
$text-color-white: #fff;
$text-color-turquoise: #74C4CF;


$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 18px;
$font-size-l: 24px;
$font-size-xl: 30px;
$font-size-xxl: 32px;
$font-size-xxxl: 36px;
$font-size-xxxxl: 48px;
$font-size-xxxxxl: 72px;


$bg-container-green: hsla(100, 50%,50%,0.2);
$bg-container-border-green: hsla(100, 50%,50%,1);

$bg-container-blue: hsla(200, 50%,50%,0.2);
$bg-container-border-blue: hsla(200, 50%,50%,1);

$bg-container-violet: hsla(300, 50%,50%,0.2);
$bg-container-border-violet: hsla(300, 50%,50%,1);

$bg-container-grey: hsla(50, 50%,50%,0.2);
$bg-container-border-grey: hsla(50, 50%,50%,1);

$bg-container-yellow: hsla(150, 50%,50%,0.2);
$bg-container-border-yellow: hsla(150, 50%,50%,1);

$bg-container-red: hsla(250, 50%,50%,0.2);
$bg-container-border-red: hsla(250, 50%,50%,1);


// Size.
// Font.
// Color.
// Duration.