section(class="main__contact contact", id="contact")
  h2 Контакты 
  address
    ul.contact__address
      li Адрес
      li Россия,192238, г. Санкт-Птербург, ул. Белы Куна, д.3, Лит А, пом. 73
      li Телефон 
      li 
        a(href="") +7 (812) 309-36-64 
      li Электронная почта 
      li 
        a(href="") info@international-spb.ru  
  iframe(class="contact__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2002.7392933489687!2d30.377165616285193!3d59.8700749818513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631657484e4fb%3A0xc8c519838f308591!2z0YPQuy4g0JHQtdC70Ysg0JrRg9C90LAsIDMsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTIyNDI!5e0!3m2!1sru!2sru!4v1590074296228!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
  div(class="contact__footer-contacts contacts-footer") 
    .contacts-footer__slogan
      p Начать работать с нами легко — напишите нам или позвоните и мы ответим на все ваши вопросы
    div(class="contacts-footer__footer-contact footer-contacts")
      ul.footer-contacts__list
        li.footer-contacts__item
          i(class="fas fa-phone-alt footer-contacts__icon") 
        li.footer-contacts__item
          a(class="footer-contacts__tel", href="#") +7 (812) 309-36-64
        li(class="footer-contacts__tel footer-contacts__opening-hours") пн-пт с 9:00 до 18:00
        li.footer-contacts__item
          a(class="footer-contacts__callback", href="#") Перезвонить мне







