footer.footer
  nav.footer__navigation  
    ul
      li
        a(class="footer__btn-about", href="#about") О компании
      li
        a(class="footer__btn-services", href="#services") Услуги
      li
        a(class="footer__btn-project", href="#project") Проекты
      li
        a(class="footer__btn-request", href="#request") Обсудить проект
      li
        a(class="footer__btn-contact", href="#contact") Контакты
  hr
  .footer__copyrat
    small &copy;2020 &#183; Веб-разработка &#183; Савинов Алексей