section(class="main__project project", id="project")
  h2 Проекты 
  ul.project__list
    li.project__item
      figure.project__img
        img(src="../img/project/image1.jpg", width="320", height="300" alt="ООО «Ильский НПЗ»")
        figcaption.project__title-box
          h3 Ильский НПЗ
          p Разработка проектной и рабочей документации в части пожарной безопасности секций 100, 300, 400, 500, 600 Комбинированной установки ЛК-2Д (об. 430-10 и об. 930-2) комплекса глубокой переработки нефти.
          span Разработка проекта ОГЗ
          span Поставка ЛКМ
    li.project__item
      figure.project__img
        img(src="../img/project/image2.jpg", width="320", height="300" alt="ООО «РН-Туапсинский НПЗ»")
        figcaption.project__title-box
          h3 РН-Туапсинский НПЗ
          p Комплексное сопровождение разработки стадии РД объектов пускового комплекса нового завода мощностью 12 млн. тонн в год на предмет ее соответствия стадии ПД. Разработка комплексной программы мероприятий по обеспечению пожарной безопасности на период строительства объектов завода. 
          span Разработка проекта ОГЗ
      li.project__item
      figure.project__img
        img(src="../img/project/image3.jpg", width="320", height="300" alt="Терминал по тоннпроизводству и перегрузке сжиженного  природного газа в порту Высоцк")
        figcaption.project__title-box
          h3 Криогаз-Высоцк
          p Комплексное сопровождение разработки стадии РД объектов пускового комплекса нового завода мощностью 12 млн. тонн в год на предмет ее соответствия стадии ПД. Разработка комплексной программы мероприятий по обеспечению пожарной безопасности на период строительства объектов завода. 
          span Разработка проекта ОГЗ
    li.project__item
      figure.project__img
        img(src="../img/project/image4.jpg", width="320", height="300" alt="Ямал СПГ. Завод по производству сжиженного природного газа")
        figcaption.project__title-box
          h3 Ямал СПГ
          p Комплексное сопровождение разработки стадии РД объектов пускового комплекса нового завода мощностью 12 млн. тонн в год на предмет ее соответствия стадии ПД. Разработка комплексной программы мероприятий по обеспечению пожарной безопасности на период строительства объектов завода. 
          span Разработка проекта ОГЗ
  a(href="#" class="project__btn-show-more") Показать еще
  div(class="project__project-footer project-footer") 
    .project-footer__slogan
      p Наши специалисты готовы проконсультировать Вас
    div(class="project-footer__footer-contacts footer-contacts")
      ul.footer-contacts__list
        li.footer-contacts__item
          i(class="fas fa-phone-alt footer-contacts__icon") 
        li.footer-contacts__item
          a(class="footer-contacts__tel", href="#") +7 (812) 309-36-64
        li(class="footer-contacts__tel footer-contacts__opening-hours") пн-пт с 9:00 до 18:00
        li.footer-contacts__item
          a(class="footer-contacts__callback", href="#") Перезвонить мне




