section(class="main__services services", id="services")
  h2 Услуги 
  p Выполняем сложнейшие задачи благодаря пониманию специфики конкретных отраслей, уникальным инженерным решениям и инновационному менеджменту
  div(class="services__basic-services basic-services")
    ul.basic-services__list
      li(class="basic-services__item basic-services__design")
        div.basic-services__box
          h3 Проектирование
          p Специалисты компании «ОХТА-ПРИМ» выполняют весь комплекс работ по проектированию  зданий и сооружений
        div(class="basic-services__block-request-cost block-request-cost") 
          a(class="block-request-cost__more-details" href="#design") подробнее
          a(class="block-request-cost__discuss-the-project" href="#") обсудить проект
      li(class="basic-services__item basic-services__jobs")
        div.basic-services__box
          h3 Производство работ
          p «ОХТА-ПРИМ» специализируется на выполнении огнезащитных и антикоррозионных работ.
        div(class="basic-services__block-request-cost block-request-cost") 
          a(class="block-request-cost__more-details" href="#work") подробнее
          a(class="block-request-cost__discuss-the-project" href="#") обсудить проект
      li(class="basic-services__item basic-services__supervision")
        div.basic-services__box
          h3 Технический и авторский надзор
          p Технический надзор за окрасочными работами обеспечивает получение долговечных покрытий, соответствующих заявленным техническим характеристикам.
        div(class="basic-services__block-request-cost block-request-cost") 
          a(class="block-request-cost__more-details" href="#") подробнее
          a(class="block-request-cost__discuss-the-project" href="#") обсудить проект
      li(class="basic-services__item basic-services__Add-title")
        h3 Дополнительные услуги
        p Наша компания выполняет работы по производству и строительству как в комплексе, так и по отдельности.
      li(class="basic-services__item basic-services__production")
        div.basic-services__box
          h3 Производство
          p Собственное производство резервуаров позволяет уделять пристальное внимание качеству, строго соблюдая установленные сроки.
        div(class="basic-services__block-request-cost block-request-cost") 
          a(class="block-request-cost__more-details" href="#") подробнее
          a(class="block-request-cost__discuss-the-project" href="#") обсудить проект
      li(class="basic-services__item basic-services__supply")
        div.basic-services__box
          h3 Поставка материалов
          p Компания «ОХТА-ПРИМ» занимается комплексной поставкой антикоррозионных, огнезащитных и теплоизоляционных материалов по всей территории РФ 
      div(class="basic-services__block-request-cost block-request-cost") 
          a(class="block-request-cost__more-details" href="#") подробнее
          a(class="block-request-cost__discuss-the-project" href="#supply") обсудить проект
      li(class="basic-services__item basic-services__development")
        div.basic-services__box
          h3 Разработки
          p  «ОХТА-ПРИМ» также является центром компетенций  в области исследований и экспертизы защитных покрытий.
      div(class="basic-services__block-request-cost block-request-cost") 
          a(class="block-request-cost__more-details" href="#") подробнее
          a(class="block-request-cost__discuss-the-project" href="#") обсудить проект
  div(class="services__wrapper")
    .services__objects
      ul
        li объекты
        li 293
        li Реализованных объектов
    .services__reviews
      h3 отзовы
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos vero inventore consequuntur veniam sunt exercitationem velit facilis est debitis quidem illo voluptates sit eveniet vitae, non cum aperiam quibusdam nisi?
  div(class="services__services-footer services-footer") 
    .services-footer__slogan
      p Наши специалисты готовы проконсультировать Вас
    div(class="services-footer__footer-contacts footer-contacts")
      ul.footer-contacts__list
        li.footer-contacts__item
          i(class="fas fa-phone-alt footer-contacts__icon") 
        li.footer-contacts__item
          a(class="footer-contacts__tel", href="#") +7 (812) 309-36-64
        li(class="footer-contacts__tel footer-contacts__opening-hours") пн-пт с 9:00 до 18:00
        li.footer-contacts__item
          a(class="footer-contacts__callback", href="#") Перезвонить мне