section(class="main__services services", id="services")
  h2 Услуги 
  p Выполняем сложнейшие задачи благодаря пониманию специфики конкретных отраслей, уникальным инженерным решениям и инновационному менеджменту
  div(class="services__basic-services basic-services")
    ul.basic-services__list
      li(class="basic-services__item basic-services__design")
        a(href="#")
          h3 Проектирование
          p Специалисты компании «ОХТА-ПРИМ» выполняют весь комплекс работ по проектированию  зданий и сооружений
      li(class="basic-services__item basic-services__jobs")
        a(href="#")
          h3 Производство работ
          p «ОХТА-ПРИМ» специализируется на выполнении огнезащитных и антикоррозионных работ.
      li(class="basic-services__item basic-services__supervision")
        a(href="#")
          h3 Технический и авторский надзор
          p Технический надзор за окрасочными работами обеспечивает получение долговечных покрытий, соответствующих заявленным техническим характеристикам.
      li(class="basic-services__item basic-services__Add-title")
        h3 Дополнительные услуги
        p Наша компания выполняет работы по производству и строительству как в комплексе, так и по отдельности.
      li(class="basic-services__item basic-services__production")
        a(href="#")
          h3 Производство
          p Собственное производство резервуаров позволяет уделять пристальное внимание качеству, строго соблюдая установленные сроки.
      li(class="basic-services__item basic-services__supply")
        a(href="#")
          h3 Поставка материалов
          p Компания «ОХТА-ПРИМ» занимается комплексной поставкой антикоррозионных, огнезащитных и теплоизоляционных материалов по всей территории РФ 
      li(class="basic-services__item basic-services__development")
        a(href="#")
          h3 Разработки
          p  «ОХТА-ПРИМ» также является центром компетенций  в области исследований и экспертизы защитных покрытий.
  div(class="services__wrapper")
    .services__objects
      ul
        li объекты
        li 293
        li Реализованных объектов
    .services__reviews
      h3 отзовы
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos vero inventore consequuntur veniam sunt exercitationem velit facilis est debitis quidem illo voluptates sit eveniet vitae, non cum aperiam quibusdam nisi?
  div(class="services__services-footer services-footer") 
    .services-footer__slogan
      p Наши специалисты готовы проконсультировать Вас
    div(class="services-footer__footer-contacts footer-contacts")
      ul.footer-contacts__list
        li.footer-contacts__item
          i(class="fas fa-phone-alt footer-contacts__icon") 
        li.footer-contacts__item
          a(class="footer-contacts__tel", href="#") +7 (812) 309-36-64
        li(class="footer-contacts__tel footer-contacts__opening-hours") пн-пт с 9:00 до 18:00
        li.footer-contacts__item
          a(class="footer-contacts__callback", href="#") Перезвонить мне