section(class="main___upply supply", id="supply") 
  h2 Поставка
  h3 Материалов и оборудования 
  .supply__request-box
    .supply__request-text Оставьте Вашу заявку на сайте и мы свяжемся с Вами
    a(class="supply__request-btn" href="#") Запрос стоимости 
  .supply__main-text
    p Подбор материалов.
    p Наша компания представляет бренды: International  Paint и Sika.
    p Подбор решений под поставленные задачи.
    p гидроизоляция;
    p напыляемая кровля;
    p упаковочные полимеры;
    p химическая защита (технологическое оборудование);
    p антикоррозионная и огнезащита;
    p теплоизоляционные материалы.
    p наливные полы
    p Консультации.
    p Работа наших специалистов начинается со сбора исходных дан-  ных, это может быть как работа на основе технического задания  так и на основе проектной документации. При необходимости наши  специалисты готовы выехать на объект производства работ для  подбора оптимального решения. В комплекс решений, при необ-  ходимости, входит разработка критерий по выбору оптимального  подрядчика, проведение повышения квалификации сотрудников,  как рабочих, так и инженеров, оптимизация логистики.
  ul.supply__advantage
    li(class="supply__advantage-item supply__advantage-item-one")
      p Почему стоит заказать весь комплекс работ у нас?     
    li(class="supply__advantage-item supply__advantage-item-two")
      h4 Гарантия результата
      small Мы несем ответственность за каждый этап работ. Отвечаем за результат, а не за процесс.
    li(class="supply__advantage-item supply__advantage-item-three")
      h4 Экономьте время
      small Оптимизация временных затрат и никаких управленческих ошибок.
    li(class="supply__advantage-item supply__advantage-item-four")
      h4 Экономьте средства
      small Реализуем проекты исключительно собственными силами.
  div(class="supply__wrapper")
    .supply__objects
      ul
        li объекты
        li 293
        li Реализованных объектов
    .supply__reviews
      h3 отзывы
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos vero inventore consequuntur veniam sunt exercitationem velit facilis est debitis quidem illo voluptates sit eveniet vitae, non cum aperiam quibusdam nisi?
  div(class="supply__supply-footer supply-footer") 
    .supply-footer__slogan
      p Наши специалисты готовы проконсультировать Вас
    div(class="supply-footer__footer-contacts footer-contacts")
      ul.footer-contacts__list
        li.footer-contacts__item
          i(class="fas fa-phone-alt footer-contacts__icon") 
        li.footer-contacts__item
          a(class="footer-contacts__tel", href="#") +7 (812) 309-36-64
        li(class="footer-contacts__tel footer-contacts__opening-hours") пн-пт с 9:00 до 18:00
        li.footer-contacts__item
          a(class="footer-contacts__callback", href="#") Перезвонить мне