section(class="main__work work", id="work")
  h2 Выполнения работ
  h3 Антикоррозионная и Огнезащита обработка 
  .work__request-box
    .work__request-text Оставьте Вашу заявку на сайте и мы свяжемся с Вами
    a(class="work__request-btn" href="#") Запрос стоимости 
  div
    p «Охта-Прим» специализируется на выполнении огнезащитных и антикоррозионных работ.
    p Мы придерживаемся принципа «профессионально и точно в срок». Компания имеет большой опыт организации проведения работ как на территории завода металлоконструкций, так и в условиях строительной площадки. Это логистика техники и оборудования, мобилизация рабочих ресурсов, создание объектов инфраструктуры для выполнения работ, в том числе в труднодоступных районах Заполярья. 
    p Производственные ресурсы компании включают:
    p - Большой парк специализированного оборудования, включая установки для нанесения   материалов для углеводородного пожара;
    p - Линейный персонал, сертифицированный на выполнение огнезащитных работ для условий углеводородного пожара по международным стандартам UL;
    p - Квалифицированный инженерно-технический персонал.
  ul
    li
      p Почему стоит заказать весь комплекс работ у нас?     
    li
      h4 Гарантия результата
      small Мы несем ответственность за каждый этап работ. Отвечаем за результат, а не за процесс.
    li
      h4 Экономьте время
      small Оптимизация временных затрат и никаких управленческих ошибок.
    li
      h4 Экономьте средства
      small Реализуем проекты исключительно собственными силами.
  div(class="about__wrapper")
    .about__objects
      ul
        li объекты
        li 293
        li Реализованных объектов
    .about__reviews
      h3 отзывы
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos vero inventore consequuntur veniam sunt exercitationem velit facilis est debitis quidem illo voluptates sit eveniet vitae, non cum aperiam quibusdam nisi?
  div(class="about__about-footer about-footer") 
    .about-footer__slogan
      p Наши специалисты готовы проконсультировать Вас
    div(class="about-footer__footer-contacts footer-contacts")
      ul.footer-contacts__list
        li.footer-contacts__item
          i(class="fas fa-phone-alt footer-contacts__icon") 
        li.footer-contacts__item
          a(class="footer-contacts__tel", href="#") +7 (812) 309-36-64
        li(class="footer-contacts__tel footer-contacts__opening-hours") пн-пт с 9:00 до 18:00
        li.footer-contacts__item
          a(class="footer-contacts__callback", href="#") Перезвонить мне