.contact {
  // display: block !important;
  h2 {
    @include text($bg-color-grey, $font-size-xxxl, $font-size-xxxxl + 10px, 300);
    padding: 0 20px;
  }
  &__address {
    padding: 0 20px;
    margin-bottom: 30px;
    font-style: normal;

    li:nth-child(odd) {
      @include text($bg-color-grey, $font-size-m, $font-size-m + 2px, 700);
      margin: 20px 0;
    }
    li:nth-child(2) {
      @include text($text-color-dark-grey, $font-size-m, $font-size-m + 2px, 500);
      margin: 20px 0;
    }
    a {
      @include text($text-color-turquoise, $font-size-m, $font-size-m + 2px, 700);
      margin: 20px 0;
    }

  }

  &__map {
    min-width: 320px;
    width: 100%;
  }

  .contacts-footer {
    margin-top: -4px;
    &__slogan {
      position: relative;
      background-color: $bg-color-grey;
      &::after {
        content: "";
        position: absolute;
        left: 136px;
        bottom: -39px;
        border: 20px solid transparent;
        border-top: 20px solid $bg-color-grey;
        z-index: 10;
      }
      p {
        padding: 28px;
        margin: 0;
        color: $text-color-white;
        font-size: $font-size-l;
        text-align: center;
      }
    }
    .footer-contacts {
      background-color: $bg-color-turquoise;
      color: $text-color-white;
      &__list {
        max-width: 250px;
        margin: 0 auto;
        padding: 28px;
      }
      
      &__item {
        margin: 10px 0;
      }
      &__icon {
        font-size: 50px;
        margin-bottom: 20px;
      }
      &__tel {
        @include text($text-color-white, $font-size-l, $font-size-l + 2px, 700);
      }
      &__opening-hours {
        @include text($text-color-white, $font-size-m, $font-size-m + 2px, 500);
      }
      &__callback {
        position: relative;
        padding-left: 35px;
        @include text($text-color-white, $font-size-s + 2px, $font-size-l, 700);
        &:before {
          @include before(-6px, -1px, 31px, 31px, transparent, url(../img/css_sprites.png), -172px, -75px);
        }
      }
    }
  }
}

@media (min-width: $screen-table) {
  .contact {
    .contacts-footer {
      display: flex;
      &__slogan {
        width: 50%;
        &::after {
          left: 99%;
          bottom: 111px;
          border: 20px solid transparent;
          border-left: 20px solid #4d4f58;
        }
        p {
          width: 322px;
          margin: 0 auto;
          padding-top: 40px;
          text-align: left;
      
        }
      }
      .footer-contacts {
        width: 50%;
      }    
    }
  }
}

@media (min-width: $screen-desktop) {

}
